.mask_5{
    position: relative;
    width: 100%;
    height: 100vh;
}

.summer{
    position: relative;
    width: 2400px;
    height: 2800px;
    top: calc(50% - 200px);
    left: calc(50% + 50px);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.mask_5 .branch{
    position: absolute;
    width: 900px;
    top: calc(50% + 400px);
    left: calc(50% - 950px);
    z-index: 3;
}

.mask_5 .cicada{
    position: absolute;
    width: 275px;
    top: calc(50% + 350px);
    left: calc(50% - 700px);
    z-index: 4;
}

.mask_5 .fog_left {
    position: absolute;
    width: 2800px;
    top: calc(50% - 1200px);
    left: calc(50% - 400px);
    z-index: 102;
}

.mask_5 .fog_right {
    position: absolute; 
    width: 2800px;
    top: calc(50% - 1200px);
    left: calc(50% - 2000px);
    z-index: 102;
}

.godrays {
    position: absolute;
    width: 1200px;
    top: 0;
    right: 0;
    z-index: 19;
}

.arrow_up {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    top: calc(50% - 400px);
    left: calc(50%);
    z-index: 101;
}

.arrow_up:hover {
    background: rgba(145,145,145,0.5);
    border-radius: 50%;
    transition: 0.3s;
}

.arrow_down {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    top: calc(50% + 350px);
    left: calc(50%);
    z-index: 101;
}

.arrow_down:hover {
    background: rgba(145,145,145,0.5);
    border-radius: 50%;
    transition: 0.3s;
}

.arrow_up .arrow-link {
    color: #919191;
}

.arrow_down .arrow-link {
    color: #919191;
}

.arrow_up .arrow-link:hover{
    color: #fff;
}

.arrow_down .arrow-link:hover{
    color: #fff;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.vignette {
    position: absolute; 
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgb(0, 0, 0,0.7));
    z-index: 100;
}

.hero{
    width: 100%;
    height: 100%;
    overflow: hidden;
}