.mask_4{
    position: relative;
    width: 100%;
    height: 100vh;
}

.reflective {
    position: absolute;
    width: 2200px;
    height: 1800px;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.mask_4 .moon {
    position: absolute;
    width: 250px;
    top: calc(50% - 400px);
    left: calc(50% + 350);
    z-index: 2;
    pointer-events: none;
    transition: 0.5s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.mask_4 .fog_2 {
    position: absolute;
    width: 2200px;
    top: calc(50% - 450px);
    left: calc(50% - 1000px);
    z-index: 5;
}

.mask_4 .fog_3 {
    position: absolute;
    width: 1800px;
    top: calc(50% + 50px);
    left: calc(50%);
    z-index: 6;
}

.mask_4 .blackshadow {
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
    z-index: 20;
}

.mask_4 .fog_left {
    position: absolute;
    width: 2800px;
    top: calc(50% - 1200px);
    left: calc(50% - 400px);
    z-index: 102;
}

.mask_4 .fog_right {
    position: absolute; 
    width: 2800px;
    top: calc(50% - 1200px);
    left: calc(50% - 2000px);
    z-index: 102;
}

.arrow_up:hover {
    background: rgba(145,145,145,0.5);
    border-radius: 50%;
    transition: 0.3s;
}

.arrow_down:hover {
    background: rgba(145,145,145,0.5);
    border-radius: 50%;
    transition: 0.3s;
}

.arrow_up .arrow-link {
    color: #919191;
}

.arrow_down .arrow-link {
    color: #919191;
}

.arrow_up .arrow-link:hover{
    color: #fff;
}

.arrow_down .arrow-link:hover{
    color: #fff;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.vignette {
    position: absolute; 
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgb(0, 0, 0,0.7));
    z-index: 100;
}

.hero{
    width: 100%;
    height: 100%;
    overflow: hidden;
}