.mask_2 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.path {
    position: absolute;
    height: 1800px;
    width: 2200px;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.mask_2 .fog_2 {
    position: absolute;
    width: 2200px;
    top: calc(50% + 300px);
    left: calc(50%);
    z-index: 2;
}

.mask_2 .fog_5 {
    position: absolute;
    width: 1200px;
    top: calc(50% + 200px);
    left: calc(50% - 650px);
    z-index: 3;
}

.mask_2 .fog_7 {
    position: absolute;
    width: 2000px;
    top: calc(50%);
    left: calc(50% + 700px);
    z-index: 4;
}

.mask_2 .fog_left {
    position: absolute;
    width: 2800px;
    top: calc(50% - 1200px);
    left: calc(50% - 400px);
    z-index: 102;
}

.mask_2 .fog_right {
    position: absolute; 
    width: 2800px;
    top: calc(50% - 1200px);
    left: calc(50% - 2000px);
    z-index: 102;
}

.arrow_up {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    top: calc(50% - 400px);
    left: calc(50%);
    z-index: 101;
}

.arrow_up:hover {
    background: rgba(145,145,145,0.5);
    border-radius: 50%;
    transition: 0.3s;
}

.arrow_down {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    top: calc(50% + 350px);
    left: calc(50%);
    z-index: 101;
}

.arrow_down:hover {
    background: rgba(145,145,145,0.5);
    border-radius: 50%;
    transition: 0.3s;
}

.arrow_up .arrow-link {
    color: #919191;
}

.arrow_down .arrow-link {
    color: #919191;
}

.arrow_up .arrow-link:hover{
    color: #fff;
}

.arrow_down .arrow-link:hover{
    color: #fff;
}

.vignette {
    position: absolute; 
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgb(0, 0, 0,0.7));
    z-index: 100;
}

.blackshadow {
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
    z-index: 20;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.hero {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 1600px){
    .arrow_up {
        top: calc(50% - 300px); 
    }
    .arrow_down {
        top: calc(50% + 225px);
    }
}